* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: #dcddde;
}

a:hover {
  color: #dcddde;
  text-decoration: none;
}

body {
  background: #36393f;
  color: #dcddde;
  min-height: 100vh;
}

.container-fluid {
  padding: 0;
}

.logo {
  width: 100px;
}

.container-rooms,
.container-users {
  min-width: 220px;
  background: #2f3136;
}

.container-namespaces {
  background: #2f3136;
  border-right: 2px solid #36393f;
}

.item-namespace img {
  width: 40px;
  height: 40px;
}

.item-namespace:hover,
.item-namespace.active,
.item-room:hover,
.item-room.active {
  background: #36393f;
  cursor: pointer;
  border-radius: 5px;
}

.item-room input {
  display: inline-block;
  background: inherit;
  color: inherit;
  border: 0;
  border-bottom: 1px solid #777;
  outline: 0;
}

.list-messages {
  overflow-y: auto;
  max-height: calc(100vh - 160px);
}

.list-users {
  overflow-y: auto;
  max-height: calc(100vh - 140px);
}

.item-user::before {
  height: 10px;
  width: 10px;
  background: #2ecc71;
  border-radius: 50%;
  display: inline-block;
  content: "";
}

.typing-info {
  height: 10px;
}

.context-menu {
  display: none;
  position: absolute;
  z-index: 10;
  padding: 12px 0;
  width: 180px;
  height: 150px;
  background-color: white;
  border: solid 1px grey;
  box-shadow: 1px 1px 2px lightgrey;
}

.context-menu--active {
  display: block;
}

.context-menu-items {
  list-style: none;
}

.context-menu-item {
  display: block;
  margin-bottom: 4px;
}

.context-menu-link {
  display: block;
  padding: 6px 12px;
  color: #0066aa;
  text-decoration: none;
}

.context-menu-link:hover {
  color: white;
  background-color: #0066aa;
}

width ::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
:root {
  scrollbar-color: #f1f1f1 #888;
  scrollbar-width: thin;
}
